/dist
/.tmp
/.sass-cache
web/bower_components
web/node_modules
/test
Makefile
Makefile.in
autom4te.cache/*
configure
aclocal.m4
install-sh
missing
config.guess
config.sub
config.log
config.status
compile
depcomp
libtool
ltmain.sh
