<div class="" style="-webkit-app-region: no-drag;" >
	<div class="modal-header modal-header-analyse ">
		<button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <span class="modal-title"><i><h3 class="analyseTitle">{{ 'analyse_view.Custom_scan_title' | translate}}</h3></span>
	    <hr>
	</div>
	<div class="modal-body modal-body-analyse">
		<ol class="breadcrumb">
			<li><a href=""> /root </a></li>
		    <li ng-repeat="bread in breadcrums"ng-class="{active: $last}">
		    	<a ng-if="!$last" href="">{{bread}}</a>
		    	<b ng-if="$last">{{bread}}</b>
		    </li>
		</ol>
		<p ng-show="showError" class="text-danger" ng-bind-html="error"></p>

		<div class="treeScroll" id="ex4">
			<tree nodes='tree' options="optionsTreeWidget"></tree>
		</div>
	</div>
	<div class="modal-footer footerModal">
	    <button type="button" class="btn startButtonModal" ng-click="ok();">{{ 'analyse_view.Start' | translate}}</button>
	</div>
</div>
