div.journal {
    height: 90%;
}
div.journal .ng-isolate-scope {
    height: 100%;
}
div.journal .nav-tabs > li {
    width: 33.3333%;
    -webkit-app-region: no-drag;
}
div.journal .tab-content {
    height: 90%;
}
div.journal .tab-pane {
    height: 100%;
}
table.journal {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 13px;
    color: #525659;
}
table.journal * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}
thead.journal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
tbody.journal {
    overflow-y: scroll;
    display: inline-block;
}
thead.journal > tr.journal, tbody.journal > tr.journal, tfoot.journal > tr.journal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.journalTitle {
    font-weight: 500;
    font-size: 20px;
}
thead.journal, tfoot.journal {
    flex-shrink: 0;
}
th.journal, tbody.journal td.journal {
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
tfoot.journal {
    display: inline-block;
}
tfoot.journal td.journal {
    width: 100%;
    display: inline-block;
}
table.alerts {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 13px;
    color: #525659;
}
table.alerts * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}
thead.alerts {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
tbody.alerts {
    overflow-y: scroll;
    display: inline-block;
}
thead.alerts > tr.alerts, tbody.alerts > tr.alerts, tfoot.alerts > tr.alerts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.alertsTitle {
    font-weight: 500;
    font-size: 20px;
}
thead.alerts, tfoot.alerts {
    flex-shrink: 0;
}
th.alerts, tbody.alerts td.alerts {
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
tfoot.alerts {
    display: inline-block;
}
tfoot.alerts td.alerts {
    width: 100%;
    display: inline-block;
}
.input-group-addon-searchJournal {
  padding: 8px 12px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
  color: #FFFFFF  !important;
  text-align: center;
  background-color: #333333  !important;
  border: 1px solid #333333  !important;
  border-radius: 0;
}

div.journal .nav-tabs > li.active > a,
div.journal .nav-tabs > li.active > a:hover,
div.journal .nav-tabs > li.active > a:focus {
  color: #FFFFFF !important;
  background-color: #32BEF0 !important;
  border: 0px solid #32BEF0 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}

table.quarantine {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 13px;
    color: #525659;
}
table.quarantine * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}
thead.quarantine {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
tbody.quarantine {
    overflow-y: scroll;
    display: inline-block;
}
thead.quarantine > tr.quarantine, tbody.quarantine > tr.quarantine, tfoot.quarantine > tr.quarantine {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.quarantineTitle {
    font-weight: 500;
    font-size: 20px;
}
thead.quarantine, tfoot.quarantine {
    flex-shrink: 0;
}
th.quarantine, tbody.quarantine td.quarantine {
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
tfoot.quarantine {
    display: inline-block;
}
tfoot.quarantine td.quarantine {
    width: 100%;
    display: inline-block;
}
.journalTabHeader {
    -webkit-app-region: no-drag;
}

.refreshButton {
  background-color: #32BEF0 !important;
  border: 1px solid #32BEF0 !important;
  border-radius: 24px !important;
  color : black !important;
  font-weight: 600 !important;
}
.clearButton {
  background-color: #F8AA00 !important;
  border: 1px solid #F8AA00 !important;
  border-radius: 24px !important;
  color : black !important;
  font-weight: 600 !important;
}
