table.scan {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-height: 90%;
    font-size: 12px;
    color: #525659;
    margin-top: -25px !important;
}
table.scan * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}
thead.scan {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
tbody.scan {
    overflow-y: scroll;
    display: inline-block;
}
thead.scan > tr.scan, tbody.scan > tr.scan, tfoot.scan > tr.scan {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.scanTitle {
    font-weight: 500;
    font-size: 20px;
}
thead.scan, tfoot.scan {
    flex-shrink: 0;
}
th.scan, tbody.scan td.scan {
    text-align: center;
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
tfoot.scan {
    display: inline-block;
}
tfoot.scan td.scan {
    width: 100%;
    display: inline-block;
}

.modal-dialog {
  width: 70% !important;
  margin: 15% 5% 7% 20% !important;
}
.modal-content {
  border-radius: 5px !important;
  width: 100% !important;
  height: 100% !important;
}
.modal-body-scan {
  padding: 5px 30px !important;
}
.modal-header-scan {
  padding: 15px 30px !important;
  border-bottom: 1px solid #FFFFFF !important;
  margin-bottom: -20px !important;
}
.footerModal {
  border-top: 1px solid #FFFFFF !important;
  padding: 5px 40px 20px 0px !important;
}
.startButtonModal {
  background-color: #F8AA00 !important;
  border: 1px solid #F8AA00 !important;
  border-radius: 24px !important;
  color : black !important;
  font-weight: 600 !important;
}
.form-control-modal {
  color: #020202 !important;
  background-color: #F2F2F2 !important;
  background-image: none !important;
  border: none !important;
  box-shadow: none !important;
}
.form-control-parameters {
  color: black !important;
  background-color: white !important;
  background-image: none !important;
  border: none !important;
  box-shadow: none !important;
}
.optionScan{
  font-size: 15px !important;
  line-height: 12px !important;
  color: #808080 !important;
}
.formOptionScan {
  padding: 10px 10px 0px 10px !important;
}
.scanChoice {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  font-weight: 500;
  font-size: 15px;
}
.scanChoice:hover {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  font-weight: 500;
  font-size: 15px;
}
.scanTitle {
  font-weight: 500 !important;
  line-height: 19px !important;
}
.typeScan {
  font-weight: 600;
  font-size: 22px;
}
.progressBar {
  height: 33px !important;
  padding: 0px !important;
  background-color: #FFFFFF !important;
  border: 0px solid #F2F2F2 !important;
  border-radius: 24px !important;
  position: relative !important;
}
.progress-bar {
    height: 33px !important;
    border-radius: 24px !important;
    color: #FFFFFF !important;
    text-align: center !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #CCCCCC !important;
}
.progressBarPercent {
  color:#525659;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  width: 70px;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top : 5px;
}
.fileScan {
  color: #32BEF0;
}
.fileMalicious {
  color: #D94A3A;
}
.fileSuspect {
  color : #F8AA00;
}
.redCircle {
  color : #D94A3A;
}
.orangeCircle {
  color : #F8AA00;
}
.yellowCircle {
  color : #F8AA00;
}
.numberOfScanFile {
  font-weight: 600;
  color : #999999;
}
.numberOfMaliciousFile {
  font-weight: 600;
  color : #999999;
}
.numberOfSuspectFile {
  font-weight: 600;
  color : #999999;
}
.startButton {
  background-color: #0AC99E !important;
  border: 1px solid #0AC99E !important;
  border-radius: 24px !important;
  color : white !important;
  font-weight: 600 !important;
}
.stopButton {
  background-color: #D94A3A !important;
  border: 1px solid #D94A3A !important;
  border-radius: 24px !important;
  color : white !important;
  font-weight: 600 !important;
}
