<div class="" style="-webkit-app-region: no-drag;" >
	<div class="modal-header modal-header-scan ">
	    <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <span class="modal-title"><em><h3 class="scanTitle">{{title | translate}} Armadito</h3></span>
	    <hr>
	</div>
	<div class="modal-body modal-body-scan">
	    <h4 class="text-danger">{{sentence | translate}}</h4>
	</div>
	<div class="modal-footer footerModal">
	    <button type="button" class="btn startButtonModal" ng-click="ok()">OK</button>
	</div>
</div>
