<div class="container paddingApp">
  <div class="row" style="height: 15%">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 100%">
       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height: 100%">
            <a class="navbar-brand" href="#"><img alt="armadito logo" src="images/logo.svg.png" class="img-responsive"></a>
       </div>
       <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="height: 100%">
         <div style="display: inline-block; width: 100%; height: 100%;">
              <ul class="nav navbar-nav navbar-left">
	          <li><img alt="OK" src="images/navbarOk_.png" class="img-responsive"></li>
                  <li><h4 class="status">{{'main_view.Your_computer_is_protected' | translate}}</h4></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li style="-webkit-app-region: no-drag;" ><a href=""><i class="fa fa-cog fa-lg" ng-class="{'buttonParameters' : buttonParameters}"></i>&nbsp;<span ng-class="{'buttonParameters' : buttonParameters}">{{'main_view.Parameters' | translate}}</span></a></li>
                <li style="-webkit-app-region: no-drag;" ><a href=""><i class="fa fa-bar-chart fa-lg"></i>&nbsp;{{'main_view.Statistics' | translate}}</a></li>
                <li style="-webkit-app-region: no-drag;">
                  <a href="">
                    <span class="fa-stack" title="{{ 'main_view.About' | translate }}">
                      <em class="fa fa-circle fa-stack-2x circleInterrogation"></em>
                      <em class="fa fa-question fa-stack-1x interrogation"></em>
                    </span>
                  </a>
                </li>
              </ul>
         </div>
        </div>
    </div>
  </div>
  <div class="row" style="height: 80%;">
  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 100%">
  	    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ahuru-tab-menu" >
  	      <div class="list-group" ng-repeat="item in buttons" style="-webkit-app-region: no-drag;">
  	        <a  ui-sref="{{item.button.view}}"
                ng-click="activeButton(item.button)"
                class="list-group-item backgroundColumn text-center {{item.button.backgroundColor}}"
                ng-class="{'active': item.button.isActive,  'list-group-item-firstChild' : $first, 'list-group-item-lastChild' : $last}">
              <br>
  	          <h4 ng-class="item.button.icon"></h4>
              <br>
  	          <strong class="titleGroupItem">{{item.button.title | translate }}</strong>
  	        </a>
  	      </div>
  	    </div>
  	    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ahuru-tab">
  	    	<div ui-view style="height: 100%"></div>
  	    </div>
  	</div>
  </div>
</div>
